/*My custom CSS*/
.jumbotron{
    background-color: rgba(204, 204, 204, 0.8);
}

.jumbo.container{
    width: 80%;
}

.container.topics{
    padding-top: 3.5rem;
    width: 25rem;
    font-size: 30px;
}

button.topicList{
    background-color: rgba(204, 204, 204, 0.8);
    color: black;
    border: none;
}

button.topicList:hover{
    font-weight: bold;
    background-color: rgba(51, 51, 51);
    color: rgba(204, 204, 204);
}
