{% extends "learning_notes/base.html" %}

{% block content %}
  <div class="container topic" id="top">
    <h2>User: <i>{{archive_user.username}}</i></h2>
    <h3>Archived entries under topic: <a href = "{% url 'learning_notes:topic' topic.id %}">{{topic.text}}</a></h3>

    {% for entry in entries %}
      <div class="card">
        <div class="card-header">
          By: <a class="entryOwner" href = "{% url 'learning_notes:archive_user_topics' entry.owner.id %}">{{entry.owner}}</a>{{ entry.date_added|date:"M d, Y H:i" }}
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ entry.title}}</h5>
          <p class="card-text">{{ entry.text|safe|linebreaks }}</p>
          {% if user == entry.owner %}
            <a href="{% url 'learning_notes:edit_entry' topic.id entry.id%}" class="btn btn-warning btn-sm">Edit</a>
            <a href="{% url 'learning_notes:delete_entry' topic.id entry.id %}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure to delete this entry?');" >Delete</a>
          {% endif %}
        </div>
      </div>
    {% empty %}
      <p>No entry has been added for this topic yet.</p>
    {% endfor %}

    <a href="#top" class="toTop"><i class="fas fa-angle-up"></i> TOP</a>
  </div>
{% endblock content %}
