{% extends "learning_notes/base.html" %}

{% block content %}
  <div class="container editEntry">
    <p><h3>Topic: <a href = "{% url 'learning_notes:topic' topic.id %}">{{ topic.text }}</a></h3></p> <!-- ink to go back to topic page -->
    <p>Edit entry:</p>
    <form action = "{% url 'learning_notes:edit_entry' topic.id entry.id %}" method = 'POST'>
        {% csrf_token %}
        {{form.as_p}}
        <input type = 'submit' class = "btn btn-primary" value = 'Save Changes' onclick="tinymce.triggerSave()">

        <a href = "{% url 'learning_notes:topic' topic.id %}" class = "btn btn-secondary" >Cancel</a> <!-- cancel button -->

    </form>
  </div>

{% endblock content %}
