{% extends "learning_notes/base.html" %}

{% block content %}
  <div class="container newTopic">
    {% if topicAlreadyExist %}
      <div class="alert alert-warning" role="alert">
        Topic "{{existingTopic.text}}" already exists. Please add a different topic, or  <a href="{% url 'learning_notes:topic' existingTopic.id %}" class="alert-link">click here</a> to visit the existing topic.
      </div>
        <p class = 'warning'></p>
    {% endif %}
    <p><h3>Add a new topic:</h3></p>
    <form action = "{% url 'learning_notes:new_topic'%}" method = 'POST'>
        {% csrf_token %}
        <div class="form-group newTopic">
          <!-- <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"> -->
          {{form.as_p}}
          <small id="newTopicExplain" class="form-text text-muted">Pick any topic you like. If a topic already exists, please post under the existing topic.</small>
        </div>
        <input type = 'submit' class = 'btn btn-primary' value = 'Add'>
        <a href = "{% url 'learning_notes:topics' %}" class = "btn btn-secondary">Cancel</a> <!-- cancel button -->
    </form>
  </div>
{% endblock content %}
