{% extends "learning_notes/base.html" %}

{% block content %}
<div class="container topics">
  <div class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center topicListHeader">
      Topic Name
      <span class="badge badge-info">Entries Count</span>
    </li>
    {% for topic in topics %}
      <!-- Use button for the cursor hover effect and to include badge. Use location.href to make button function as an <a> tag -->
      <button 
        type="button"
        class="list-group-item list-group-item-action d-flex justify-content-between align-items-center topicList"
        onclick="location.href='{% url 'learning_notes:topic' topic.id %}'">
        {{ topic.text }}<span class="badge badge-info">{{ topic.count }}</span>
      </button>
    {% empty %}
      <button type="button" class="list-group-item d-flex justify-content-between align-items-center topicList">No topic has been added yet.</button>
    {% endfor %}
  </div>
  {% if user.is_authenticated %}
    <div id="addNewTopic">
      <a href = "{% url 'learning_notes:new_topic' %}" class="btn btn-primary btn-lg" role="button" >Add New Topic</a>
    </div>
  {% endif %}
</div>
{% endblock content %}
