{% extends "learning_notes/base.html" %}

{% block content %}
    <p>Topic: {{topic.text}}</p>
    <p>Entries:</p>
    <ul>
        {% for entry in entries %}
            <li>
                <p><b>{{ entry.title}}</b></p>
                <p>{{ entry.date_added|date:"M d, Y H : i" }}</p>
                <p>{{ entry.text|linebreaks }}</p>
                <p><form action = "{% url 'learning_notes:edit_entry' topic.id entry.id%}" method = 'GET'>
                    <input type = 'submit' class = "button edit" value = 'Edit'>
                    </form>
                </p>
            </li>
        {% empty %}
            <li>No entry has been added for this topic yet.</li>
        {% endfor %}
    </ul>
    <br>
    <a href = "{% url 'learning_notes:new_entry' topic.id %}" class = "button add">Add New Entry</a>
    
{% endblock content %}
