{% extends "learning_notes/base.html" %}

{% block content %}
  <div class="container login">
    {% if form.errors %}
      <div class="alert alert-danger" role="alert">
        Your username and password do not match. Please try again. Note that both fields are case-sensitive.
      </div>
    {% endif %}

    <form action = "{% url 'users:login' %}" method = 'POST'>
        {% csrf_token %}
        <div class="form-group">
          {{ form.username.label_tag }}
          {{ form.username }}
        </div>
        <div class="form-group">
          {{ form.password.label_tag }}
          {{ form.password }}
        </div>
        <!-- {{ form.as_p }} -->
        <input type = 'submit' class = 'btn btn-primary' value = 'Log in'>
        
        <!-- 
        this hidden input text is to pass the url value to the login view. There must be an access to the key 'next' in login view which takes its value as the url to go to after login succeeds
        
        Note that here we don't have to use request.GET.next, because, I guess the 'next' field is populated
        in the LoginView by the url passed after clicking 'Log In'. Thus, each time the login form gets submitted
        the 'next' field stays the same (because we are passing {{ next }} to next again in the hidden input). However if we have not specified what 'next' field is in the view, then in order to get the value in 'next' passed from the previous webpage, we have to use request.GET.next
        -->
        {% if next %}
            <input type = 'hidden' name = 'next' value = "{{ next }}">
        {% else %} <!-- in case there is no "next" value, redirect back to home page-->
            <input type = 'hidden' name = 'next' value = "{% url 'learning_notes:index' %}">
        {% endif %}
        <a href = "{% url 'learning_notes:index' %}" class = "btn btn-secondary">Cancel</a> <!-- cancel button -->
    </form>
  </div>
{% endblock content %}
